<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Autenticacao</servlet-name>
        <servlet-class>servlet.Autenticacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnulacaoMatriculaServlet</servlet-name>
        <servlet-class>servlet.AnulacaoMatriculaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoServlet</servlet-name>
        <servlet-class>servlet.PedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SairServlet</servlet-name>
        <servlet-class>servlet.SairServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrincipalServlet</servlet-name>
        <servlet-class>modelo.PrincipalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartaoEstudanteServlet</servlet-name>
        <servlet-class>servlet.CartaoEstudanteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeclaracaoDiscriminativaNotasServlet</servlet-name>
        <servlet-class>servlet.DeclaracaoDiscriminativaNotasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquivallenciaServlet</servlet-name>
        <servlet-class>servlet.EquivalenciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatriculaForaEpocaServlet</servlet-name>
        <servlet-class>servlet.MatriculaForaEpocaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MudancaCursoServlet</servlet-name>
        <servlet-class>servlet.MudancaCursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MudancaPagamentoPropinasServlet</servlet-name>
        <servlet-class>servlet.MudancaPagamentoPropinasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoCertificadoServlet</servlet-name>
        <servlet-class>servlet.PedidoCertificadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReclamacaoNotaServlet</servlet-name>
        <servlet-class>servlet.ReclamacaoNotaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReintegracaoAcademicaServlet</servlet-name>
        <servlet-class>servlet.ReintegracaoAcademicaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SituacaoDividaServlet</servlet-name>
        <servlet-class>servlet.SituacaoDividaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gerarPDfServlet</servlet-name>
        <servlet-class>servlet.gerarPDfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferenciaCRServlet</servlet-name>
        <servlet-class>servlet.TransferenciaCRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmissaoMonografiaServlet</servlet-name>
        <servlet-class>servlet.SubmissaoMonografiaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmissaoRelatorioEstagio</servlet-name>
        <servlet-class>servlet.SubmissaoRelatorioEstagioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UtilizadorServlet</servlet-name>
        <servlet-class>servlet.UtilizadorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovimentoServlet</servlet-name>
        <servlet-class>servlet.MovimentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrocarSenhaServlet</servlet-name>
        <servlet-class>servlet.TrocarSenhaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autenticacao</servlet-name>
        <url-pattern>/autenticacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnulacaoMatriculaServlet</servlet-name>
        <url-pattern>/anulacao_matricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoServlet</servlet-name>
        <url-pattern>/pedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SairServlet</servlet-name>
        <url-pattern>/sair</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrincipalServlet</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartaoEstudanteServlet</servlet-name>
        <url-pattern>/cartao_estudante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeclaracaoDiscriminativaNotasServlet</servlet-name>
        <url-pattern>/declaracao_discriminativa_notas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquivallenciaServlet</servlet-name>
        <url-pattern>/equivalencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatriculaForaEpocaServlet</servlet-name>
        <url-pattern>/matricula_fora_epoca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MudancaCursoServlet</servlet-name>
        <url-pattern>/mudanca_de_curso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MudancaPagamentoPropinasServlet</servlet-name>
        <url-pattern>/mudanca_pagamento_propinas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoCertificadoServlet</servlet-name>
        <url-pattern>/pedido_certificado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReclamacaoNotaServlet</servlet-name>
        <url-pattern>/reclamacao_nota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReintegracaoAcademicaServlet</servlet-name>
        <url-pattern>/reintegracao_academica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SituacaoDividaServlet</servlet-name>
        <url-pattern>/situacao_de_divida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gerarPDfServlet</servlet-name>
        <url-pattern>/gerar_pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferenciaCRServlet</servlet-name>
        <url-pattern>/tranferencia_cr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmissaoMonografiaServlet</servlet-name>
        <url-pattern>/submissao_de_monografias_fora_do_prazo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmissaoRelatorioEstagio</servlet-name>
        <url-pattern>/submissao_relatorio_estagio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UtilizadorServlet</servlet-name>
        <url-pattern>/utilizadores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovimentoServlet</servlet-name>
        <url-pattern>/relatorios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrocarSenhaServlet</servlet-name>
        <url-pattern>/trocar_senha</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
